@charset "utf-8";
/* CSS Document */

.upa_body{ width:80%; margin:20px auto; border:2px solid #969a9d; background:#f9f9f7; }



/* focusbox */
.focusbox{position:relative;overflow:hidden;zoom:1;}
#fullbanner{width:960px;height:490px;margin:auto;position:relative; overflow:hidden;}
#fullbanner li a{display:block;width:950px;height:480px;overflow:hidden;}
#fullbanner img{width:950px;height:480px;}
#fullbanner ul{width:960px;height:490px;}
#fullbanner .wrappic{overflow:visible;position:absolute;}
#fullbanner .next, #fullbanner .prev{
	filter:alpha(Opacity=70);
	opacity:.7;
	position:absolute;
	top:249px;
	margin-top:-25px;
	margin-left:5px;
	background-color:#303030;
	z-index:3;
	left: -1px;
}
#fullbanner .next:hover, #fullbanner .prev:hover{background-color:orangered;}
#fullbanner .next{margin:-25px 5px 0 905px;right:0;}
#fullbanner .mask-left, #fullbanner .mask-right, #fullbanner .plan{background:#fff;padding:5px;z-index:1;position:absolute;top:0;left:0;width:950px;height:500px;overflow:hidden;left:1920px;}
#fullbanner .mask-right, #fullbanner .mask-left{z-index:4;left:-960px;filter:alpha(Opacity=50);opacity:.5;background:#fff;overflow:hidden;}
#fullbanner .mask-right{left:960px;}

.arrow-left,.arrow-right{background: url(../images/icon-sd26986d847.png) no-repeat;}
.arrow-left{background-position:15px 12px;height:50px;width:50px;}
.arrow-left:hover{background-position:-45px 12px;}
.arrow-right{background-position:-103px 12px;height:50px;width:50px;}
.arrow-right:hover{background-position:-163px 12px;}

.body_down{ background:#208bb7; width:91%; padding-left:1px;  margin:10px auto; margin-bottom:20px; height:380px;}

.bd_left{ float:left; width:38%;}
.bd_left p{ color:#fff;}
.bd_right{ float:right; width:55%;}

.left_menu{ float:left; width:28%; height:600px; border-right:1px solid #707070;}
.right_menu{ float:right; width:70%; height:600px;}
.lm_main{ border:1px solid #707070; margin:20px;}
.ulone{ width:100%;}
.ulone li{ border-bottom:1px solid #707070; padding:10px 0; text-align:center; }
.ulone li a{ color:#676767; font-weight:bold; font-size:16px;}
.ulone li a:hover{ color:#2096c8;}
.ulone li a.current2{ color:#2096c8;}
.int2{ color:#676767; width:190px; height:22px; border:none; font-size:12px; margin:6px 0 0 15px;}
.search2{ background:url(../images/search2.png) no-repeat; width:96%; margin:0 auto; height:34px; margin-bottom:5px;}

.main_img{ width:95%; margin-left:10px; margin-top:10px; margin-bottom:0px; height:500px; position:relative;}
.hthree{font-size:18px; font-weight:400; padding-bottom:5px; border-bottom:1px solid #666765; color:#666765; margin-top:20px; width:93%;}
.inpsub{ border-radius:3px; width:250px; border:1px solid #999795; margin-right:30px; margin-top:20px; height:30px; color:#333735;}
.inpsub2{border-radius:3px; width:530px; border:1px solid #999795; margin-right:30px; margin-top:20px; height:30px; color:#333735;}


#right{
	text-aligh: center;
}
#circles{
	height: 500px;
	/* background-color: #fff; */
}
.cline{
	position: relative;
}

#cline1, #cline3{
	width: 500px; height: 150px;
	margin: 50px auto 0 auto;
	/* margin-left: auto; */
	/* margin-right: auto; */
}
#cline3{
	margin-top:0;
}
#cline2{
	width: 150px;
	margin:0 auto;
}
#c1,#c4{
	float:left;
}
#c2,#c5{
	float:right;
}
.circle{
	position: relative;
	display: inline-block;
	width: 170px; height: 170px;
	border-radius: 85px;
	background-color: lightblue;
	transition: -webkit-transform .3s;
}
.circle:hover{
	-webkit-transform: scale(1.1);
}